@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: 'Rubik Puddles', cursive;
}

.calculator{
    border-radius: 7%;
    background-color: black;
    opacity: 0.3;
    height: 100%;
    width: 47%;
    position: absolute;
    left: 30%;
}

.display {
    background-color: white;
    color: black;
    border-radius: 7%;
    position: absolute;
    left: 10%;
    top: 7%;
    width: 81%;
    height: 14%;
    text-align: right;
    line-height: 100px;

}